.slide-animate-container {
    position:relative;
    background:white;
    border:1px solid black;
    height:400px;
    width:100%;
    overflow:hidden;
  }
 
  .slide-animate {
    padding:10px;
    width:100%;
  }
 
  .slide-animate.ng-enter, .slide-animate.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
 
    position:absolute;
    top:0;
    left:0;
    right:0;
    //display:block;
    //padding:10px;
  }
 
  .slide-animate.ng-enter {
    left:100%;
  }
  .slide-animate.ng-leave,
  .slide-animate.ng-enter.ng-enter-active {
    left:0;
  }
  .slide-animate.ng-leave.ng-leave-active {
    left:-100%;
  }