$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background-color: #a5e3d0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  margin:0 10px;
}

.prejuice .welcome h1 {
  font-size: 30px;
}

.prejuice h1 {
  color: #336666;
}

.prejuice h1, .prejuice h2, .prejuice h3 {
  line-height: 1.3;
}

.prejuice h1, .prejuice h2, .prejuice h3, .prejuice h4, .prejuice h5, .prejuice h6 {
  font-family: 'Oswald', sans-serif;
  color: #123333;
}

.prejuice h1.quiz-title {
  font-size:16px;
}

.prejuice h3 {
  font-size:16px;
}

.prejuice span.highlight {
  color: #336666;
  font-weight: 700;
}

.prejuice .top-progress-bar .top-progress-bar-left {
  text-align:left;
}

.prejuice .top-progress-bar .top-progress-bar-right {
  text-align:right;
}

.center {
  text-align: center;
}

.white {
  color: #fff;
}

.prejuice .dark-border {
  border-bottom-color: #cccccc;
}

.question h3, .post-question h3 {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.question .btn, .post-question .btn {
  margin: 20px 0px;
}

.quiz-button {
  text-align:right;
}

.question .btn, .post-question .btn, .quiz-button {
  font-weight: 700;
}

.prejuice .slider {
  width:100%;
  height: 20px;
}

.prejuice .in-depth-container {
  margin-bottom: 20px;
}

.prejuice .in-depth-toggle {
  text-decoration: underline;
  cursor: pointer;
}

.prejuice .in-depth-container li {
  margin-top: 5px;
}

.prejuice .sub-question .slider {
  margin-top: 53px;
  width:92% !important;
  margin-bottom: 15px;
}

.prejuice p.quiz-body {
  font-size:12px;
}

.prejuice .quiz-answer .slider-container {
  padding: 0 3em;
}

.prejuice .quiz-answer .slider.slider-horizontal {
  margin-top: 65px;
  margin-bottom: 120px;
}

.prejuice .slider.slider-horizontal .slider-track .slider-selection {
  background-image: linear-gradient(to bottom, #666666 0%, #2C2C2C 100%);
}

.prejuice .slider.slider-horizontal .slider-track {
  height: 7px;
  background-image: linear-gradient(to bottom,#666666 0,#2C2C2C 100%);
}

.prejuice .slider.slider-horizontal .slider-handle {
  margin-top: -15px;
  margin-left: -20px;
}

.prejuice .question-outro .slider.slider-horizontal .slider-handle.min-range, .prejuice .question-outro .slider.slider-horizontal .slider-handle.max-range {
  margin-top: -5px;
  margin-left: -3px;
  cursor:default;
}

.prejuice .question-outro .slider.slider-horizontal .slider-handle.correct, .prejuice .question-outro .slider.slider-horizontal .slider-handle.average {
  margin-top: -5px;
  margin-left: -8px;
  cursor:default;
}

.prejuice .question-outro .slider.slider-horizontal .slider-handle.answer {
  margin-top: -7px;
  margin-left: -9px;
  cursor:default;
}

.prejuice .question-outro .slider.slider-horizontal .slider-track {
  cursor:default;
}

.slider .slider-handle {
  position: absolute;
  width: 40px;
  height: 40px;
  
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#74b4b4), to(#569595));
  background-image: -webkit-linear-gradient(top, #74b4b4, 0%, #569595, 100%);
  background-image: -moz-linear-gradient(top, #74b4b4 0%, #569595 100%);
  background-image: linear-gradient(to bottom, #74b4b4 0%, #569595 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74b4b4', endColorstr='#ff569595', GradientType=0);
  border: 1px solid #123333;
  opacity: 0.9;
  z-index:1100;
}

.question-outro .slider .slider-handle.correct {
  width: 10px;
  height: 17px;
  background-image: linear-gradient(to bottom,#17E427 0,#006908 100%);
  margin-left:0px;
  z-index:1190;
}

.question-outro .slider .slider-handle.average {
  width: 10px;
  height: 17px;
  background-image: linear-gradient(to bottom,#C5C5C5 0,#7C7C7C 100%);
  opacity: 0.5;
  margin-left:0px;
}

.question-outro .slider .slider-handle.answer {
  width: 12px;
  height: 21px;
  background-image: linear-gradient(to bottom,#666666 0,#2C2C2C 100%);
  opacity: 1;
  z-index:1200;
}

.question-outro .slider .slider-handle.min-range, .question-outro .slider .slider-handle.max-range {
  width: 5px;
  height: 17px;
  background-image: linear-gradient(to bottom,#666666 0,#2C2C2C 100%);
  opacity: 1;
  border: 0px;
}

.sub-question .slider .slider-handle.min-range {
  width: 5px;
  height: 17px;
  background-image: linear-gradient(to bottom,#666666 0,#2C2C2C 100%);
  opacity: 1;
  border: 0px;
  margin-left:0px;
  margin-top:0px;
  z-index:1000;
}

.sub-question .slider .slider-handle.max-range {
  width: 5px;
  height: 17px;
  background-image: linear-gradient(to bottom,#666666 0,#2C2C2C 100%);
  opacity: 1;
  border: 0px;
  margin-left:0px;
  margin-top:0px;
  z-index:1000;
}

.slider-track .slider-handle.round {
  text-align:center;
  padding-top:8px;
}

.question-outro .slider-track .slider-handle.round.correct, .question-outro .slider-track .slider-handle.round.average, .question-outro .slider-track .slider-handle.round.min-range, .question-outro .slider-track .slider-handle.round.max-range, .question-outro .slider-track .slider-handle.round.answer {
  border-radius: 15%;
}

.sub-question .slider-handle.round.max-range {
  border-radius: 5%;
  right:0px;
}

.sub-question .slider-handle.round.min-range {
  border-radius: 5%;
  left:0px;
}

.slider .tooltip.in  {
  top: -55px !important;
}

.slider .tooltip.correct {
  padding: 3px 0;
  width:60px;
  left:-26px;
  margin-top:1px;
}

.slider .tooltip.correct .tooltip-inner {
  background-image: linear-gradient(to bottom,#17E427 0,#006908 100%);
  border: 1px solid #003D05;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 4px;
}

.slider .tooltip.correct .tooltip-inner .tooltip-help-text {
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.7;
}

.slider .tooltip.correct .tooltip-arrow {
  border-top-color: #003D05;
  border-bottom-color: #003D05;
  margin-left: -3px;
  border-width: 0 3px 3px;
}

.slider .tooltip.average {
  padding: 3px 0;
  width:103px;
  left:-48px;
  margin-top:42px;
}

.slider .tooltip.average .tooltip-inner {
  background-image: linear-gradient(to bottom,#AAA 0,#666 100%);
  border: 1px solid #666;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 4px;
}

.slider .tooltip.average .tooltip-inner .tooltip-help-text {
  text-transform: uppercase;
  font-size: 10px;
  opacity: 1;
}

.slider .tooltip.average .tooltip-arrow {
  border-top-color: #666;
  border-bottom-color: #666;
  margin-left: -3px;
  border-width: 0 3px 3px;
}

.slider .tooltip.answer {
  width:66px;
  left:-28px;
  margin-top:-15px;
}

.slider .tooltip.answer .tooltip-inner {
  background-image: linear-gradient(to bottom,#666666 0,#2C2C2C 100%);
  border: 1px solid #123333;
}

.slider .tooltip.answer .tooltip-inner .tooltip-help-text {
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.5;
}

.slider .tooltip.answer .tooltip-arrow {
  border-top-color: #123333;
  border-bottom-color: #123333;
}

.question-outro .slider .tooltip.min-range {
  margin-left: -46px;
  margin-top: -27px;
}

.question-outro .slider .tooltip.max-range {
  margin-left: 12px;
  margin-top: -27px;
}

.sub-question .slider .tooltip.min-range {
  margin-left: -46px;
  margin-top: -27px;
}

.sub-question .slider .tooltip.min-range .tooltip-arrow {
  display: none;
}

.sub-question .slider .tooltip.max-range {
  margin-left: 12px;
  margin-top: -27px;
}

.question-outro .slider .tooltip.min-range .tooltip-inner {
  background-color: #FFF;
  border: 0px;
  font-size: 12px;
  color: #000;
  padding: 1px 0px;
  text-align: right;
  width:40px;
}

.question-outro .slider .tooltip.max-range .tooltip-inner {
  background-color: #FFF;
  border: 0px;
  font-size: 12px;
  color: #000;
  padding: 1px 0px;
  text-align: left;
}

.sub-question .slider .tooltip.min-range .tooltip-inner {
  background-color: transparent;
  border: 0px;
  font-size: 12px;
  color: #000;
  padding: 1px 0px;
  text-align: right;
  width:40px;
  margin-top:78px;
}

.sub-question .slider .tooltip.max-range .tooltip-inner {
  background-color: transparent;
  border: 0px;
  font-size: 12px;
  color: #000;
  padding: 1px 0px;
  text-align: left;
  margin-top:78px;
}

.question-outro .slider .tooltip.min-range .tooltip-inner .tooltip-help-text, .question-outro .slider .tooltip.max-range .tooltip-inner .tooltip-help-text {
  text-transform: uppercase;
  font-size: 18px;
  opacity: 1;
}

.question-outro .slider .tooltip.min-range .tooltip-arrow, .question-outro .slider .tooltip.max-range .tooltip-arrow {
  border-top-color: #FFF;
  border-bottom-color: #FFF;
  margin-left: -3px;
  border-width: 0 3px 3px;
}

.sub-question .slider .tooltip.min-range .tooltip-inner .tooltip-help-text, .sub-question .slider .tooltip.max-range .tooltip-inner .tooltip-help-text {
  text-transform: uppercase;
  font-size: 18px;
  opacity: 1;
}

.question-outro .slider .tooltip.min-range .tooltip-arrow, .sub-question .slider .tooltip.max-range .tooltip-arrow {
  border-top-color: #FFF;
  border-bottom-color: #FFF;
  margin-left: -3px;
  border-width: 0 3px 3px;
}

.slider .slider-handle {
  border-radius: 6px;
}

.slider .tooltip .tooltip-arrow {
  border-top-color: #74b4b4;
  border-bottom-color: #74b4b4;
}

.slider .tooltip .tooltip-inner  {
  background-color: #74b4b4;
  font-size: 18px;
  padding: 4px 12px;
  border-radius: 6px;
}

.share button {
  border-radius: 4px;
  background-color: #eee;
  border-width: 1px;
}

#share-link-expander {
  text-align: right;
}

.share-link-container {
  display: inline-block;
  width: 230px;
  background-color: #eee;
  border-radius: 15px;
  margin-right: 4.5em;
}

.share-link-container textarea {
  resize: none;
  border: none;
  overflow: hidden;
  background-color: transparent;
  height: 1.7em;
  width: 100%;
  margin: 5px;
  font-weight: normal;
}

li.facts {
  margin-bottom:12px;
}

p.source {
  margin-top:10px;
  margin-bottom:30px;
}

.btn.btn-prejuice {
  border-color: #123333;
  background-color: #74b4b4;
  color: white;
  margin-top:12px;
}

.card {
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  border-radius: 3px 3px;
  padding: 15px;
}

.card-empty {
  padding: 15px;
}

.result .card, .result .card-empty {
  margin-bottom: 20px;
}

.result .card-empty.leader-list {
  padding: 0px 20px 0px 0px;
}

.chart-all {
  padding: 0;
}

.chart-overlay-container {
  position:absolute;
  pointer-events:none;
  padding-left:88px;
  padding-right:48px;
  top:20px;
  left:0px;
  height:100px;
}

.chart-container {
  clear:both;
  margin-top:20px;
}

.chart-overlay {
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  margin-top:10px;
  border-right: 3px solid rgba(239, 239, 239, 0.5);
  padding: 0px;
  height:300px;
  pointer-events: none;
}

.chart-overlay:first-child {
  border-left: 3px solid rgba(239, 239, 239, 0.5); 
}

.chart-x-axis {
  padding-left: 53px;
  padding-right: 4px;
  margin-top: 5px;
}

.chart-x-axis-item {
  text-align:center;
  font-family: 'Oswald', sans-serif;
  color: #ccc;
}

#result-chart {
  height:300px;
}

.prejuice .xchart .color0.mine path.line {
  stroke: #494949;
}

.prejuice .xchart .color0.mine circle {
  fill: #606060;
  cursor: pointer;
  cursor: hand;
}

.prejuice .xchart .color0.all path.line {
  stroke: #bababa;
}

.prejuice .xchart .color0 .fill {
  fill: rgba(186, 186, 186, 0.1);
  pointer-events: none;
}

.prejuice .xchart .axis.axisX {
  display:none;
}

.prejuice .xchart .axis text {
  font-family: 'Oswald', sans-serif;
  fill: #ccc;
}


.prejudice-factor {
  text-align:center;
}

.prejudice-factor p.huge {
  font-size: 150px; 
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  position: relative;
  padding-right: 18px;
}

.prejudice-factor p.huge span {
  font-size: 40px;
  position: absolute;
  top: 26px;
}

.prejudice-scale-container {
  
}

.prejudice-scale-row {
  background-color: #74b4b4;
  //border-bottom: 3px solid #336666;
  //border-left: 3px solid #336666;
  //border-right: 3px solid #336666;
  margin: 0px 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  padding: 10px;
}

.prejudice-scale-row {
  color: #fff;
  cursor: pointer;
  position: relative;
}

.prejudice-factor, .prejudice-scale-row, .result-container-header.universe {
  opacity:0;
}

.result-container-header {
  text-align:center;
}

.result-container-header h2 {
  text-transform: uppercase;
  font-size:15px;
}

.prejuice .prejudice-scale-row h1, .prejuice .prejudice-scale-row h2, .prejuice .prejudice-scale-row h3, .prejuice .prejudice-scale-row h4, .prejuice .prejudice-scale-row h5, .prejuice .prejudice-scale-row h6 {
  color: #fff;
  margin: 5px 0px;
}

.prejudice-scale-row:first-child {
  //border-top: 3px solid #336666;
}

.prejudice-scale-row:last-child {
  //border: none;
}

.prejudice-scale-row.selected, .prejudice-scale-row.selected-and-active {
  margin: -3px 0px 0px 0px;
  //border: 6px solid #336666;
  z-index: 10;
}

.prejudice-scale-row.active {
  background-color: #569595;
}

.prejudice-scale-row.selected {
  background-color: #569595;
}

.prejudice-scale-row.selected-and-active {
  background-color: #569595;
}

.prejudice-scale-row .badge {
  background-color: #fff;
  color: #569595;
  font-weight: 700;
  font-size:24px;
  position:absolute;
  top: -1px;
  left: 6%;
  z-index:12;
}

.prejudice-scale-row.selected .badge, .prejudice-scale-row.selected-and-active .badge{
  font-size:30px;
  top: -1px;
  left: 3%;
}

.prejudice-scale-row .leader-img {
  padding-left: 0px;
  text-align:center;
}

.prejudice-scale-row .leader-data {
  padding-right: 0px;
}

.prejudice-scale-row.active .leader-data, .prejudice-scale-row.selected .leader-data, .prejudice-scale-row.selected-and-active .leader-data {
  padding-left: 0px;
}

.prejudice-scale-row .leader-img img {
  width: 70px;
  height: 70px;
}

.prejudice-scale-row .leader-percentage {
  position: absolute;
  top: -4px;
  right: -5px;
  color: #569595;
}

.prejudice-scale-row .quote {
  margin-top:10px; padding-top:10px;
}

.prejudice-scale-row .quote blockquote {
  font-size:20px;
  border-left-color: #71A4A4;
  font-weight:300;
}

.prejudice-scale-row .leader-source, .prejudice-scale-row a {
  text-align:right;
  font-size:12px;
  color: rgba(255, 255, 255, 0.7);
}

.prejudice-scale-row.active .leader-percentage, .prejudice-scale-row.selected .leader-percentage, .prejudice-scale-row.selected-and-active .leader-percentage {
  color: rgba(255, 255, 255, 0.7);
}

.soft {
  color: #919191;
}

.bold {
  font-size:17px;
  font-weight:bold;
}

.prejuice .footer {
  border-top: none;
}

ul.howwecalc li {
  margin-left:-15px;
  margin-top:8px;
  font-weight:300;
}

p.sources, ul.sources {
  font-weight:300;
}

h5.sources {
  margin-top: 20px;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #fff;
    border-top: 1px solid #e5e5e5;
    text-align:right;
}

.container-narrow > hr {
    margin: 30px 0;
}

hr {
  clear:both;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    
    .prejuice .welcome h1 {
      font-size: 125px;
    }
    
    .prejuice h1.quiz-title {
      font-size:36px;
    }
    
    .prejuice p.quiz-body {
      font-size:16px;
      margin-top:30px;
    }
    
    .prejuice h3 {
      font-size:24px;
    }
    
    .chart-overlay {
      font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
  .sub-question form.center {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .chart-x-axis {
    display: none;
  }

  .prejudice-scale-row .badge, .prejudice-scale-row.active .badge {
    left: -9%;
  }
  
  .prejudice-scale-row.selected-and-active .badge, .prejudice-scale-row.selected .badge {
    left: -9%;
  }
  
  .prejudice-scale-row .leader-data, .prejudice-scale-row.active .leader-data {
    padding-left:26px;
  }
  
  .prejudice-scale-row.selected-and-active .leader-data, .prejudice-scale-row.selected .leader-data {
    padding-left:26px;
  }
}
