doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // bower:css
    link(rel='stylesheet', href='bower_components/sass-bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css')
    // endbower
    // build:css({.tmp,app}) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='styles/animate.css')
    // endbuild
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700,300', rel='stylesheet', type='text/css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
  body.prejuice(ng-app='prejuiceUiApp')
    //if lt IE 7
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    
    section.section-alerts
      .alert.alert-danger(ng-repeat='alert in alerts', type='alert.type', close='closeAlert($index)')
        p {{alert.msg}}

    .container(ng-view='')

    .footer
      .container
        p ♥ from the Juice team
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js')
    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')
    // TODO: remove {.tmp,app} and user bower-install in grunt file
    // build:js({.tmp,app}) scripts/vendor.js
    // bower:js
    script(src='bower_components/modernizr/modernizr.js')
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-touch/angular-touch.min.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-facebook/lib/angular-facebook.js')
    script(src='bower_components/sass-bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='vendor/Chart.js')
    // endbower
    // endbuild
    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/app.js')
    script(src='scripts/controllers/main.js')
    script(src='scripts/controllers/result.js')
    script(src='scripts/controllers/share.js')
    script(src='scripts/services/api.js')
    script(src='scripts/services/user.js')
    script(src='scripts/services/alert.js')
    script(src='scripts/directives/pj-slider.js')
    script(src='scripts/directives/pj-chart.js')
    
    script(src='scripts/models/leaders.js')
    // endbuild
