.col-md-12.card(ng-switch='activeStep.type')
  div(ng-switch-when='questionIntro')
    h1.quiz-title {{activeStep.question.category}}
    p.quiz-body {{activeStep.question.introText}}
    p.quiz-button
      a.btn.btn-lg.btn-prejuice(ng-click='nextStep()') Nu kör vi!

  div.sub-question(ng-switch-when='subQuestion')
    h3 {{activeStep.question.question}}
    form.center
      input.slider(pj-slider, step='activeStep', on-slider-value-updated='onQuestionSliderValueUpdated(val)', type='text')
    p.quiz-button
      a.btn.btn-lg.btn-prejuice(ng-click='nextStep()') Fortsätt

  div(ng-switch-when='questionOutro')
    .row
      .col-xs-1
      .col-xs-11
        h1.quiz-title.done {{activeStep.question.category}}
        h3.quiz-answers-title Dina svar:
    .row.quiz-answer(ng-repeat='stat in partialStats')
      .col-xs-12
        h5.quiz-answer-title {{activeStep.question.subQuestions[$index].question}}       
        .slider.slider-horizontal
          .slider-track
            .slider-handle.round.answer(style='left: {{getDotPosition(activeStep.question.subQuestions[$index], stat.myAnswer)}};')
              .tooltip.top.in.answer(style='top: -47px !important;')
                .tooltip-arrow
                .tooltip-inner {{stat.myAnswer}}
            .slider-handle.round.average(style='left: {{getDotPosition(activeStep.question.subQuestions[$index], stat.average)}};')
            .slider-handle.round.correct(style='left: {{getDotPosition(activeStep.question.subQuestions[$index], stat.correct)}};')
              .tooltip.bottom.in.correct(style='top: 17px !important;')
                .tooltip-arrow
                .tooltip-inner {{stat.correct}}
    
    .row
      .col-xs-12
        ul
          li(ng-repeat='statement in activeStep.question.postStatements') {{statement}}
      .col-xs-12
        p Källa: {{activeStep.question.source}}
    
    .row
      .col-xs-12
        p.quiz-button
          a.btn.btn-lg.btn-prejuice(ng-click='nextStep()') Nästa fördom!
