.col-md-12.card(ng-switch='activeStep.type')
  div(ng-switch-when='questionIntro')
    h1 {{activeStep.question.category}}
    p {{activeStep.question.introText}}
    p
      button(ng-click='nextStep()') Nu kör vi!

  div(ng-switch-when='subQuestion')
    h3 {{activeStep.question.question}}
    form.center
      input.slider(pj-slider, step='activeStep', on-slider-value-updated='onQuestionSliderValueUpdated(val)', type='text')
    p
      a.btn.btn-lg.btn-primary(ng-click='nextStep()') Fortsätt

  div(ng-switch-when='questionOutro')
    h1 {{activeStep.question.category}}
    p Done with question
    p(ng-repeat='stat in partialStats')
      {{stat}}
    p
      button(ng-click='nextStep()') Nästa fördom!