.col-md-12.card(ng-switch='activeStep.type')
  div(ng-switch-when='questionIntro')
    include views/progress
    h1.quiz-title(ng-bind-html='activeStep.question.categorySafe')
    p.quiz-body(ng-bind-html='activeStep.question.introText')
    p.quiz-button
      a.btn.btn-lg.btn-prejuice(ng-click='nextStep()') {{getIntroNextText()}}

  div.sub-question(ng-switch-when='subQuestion')
    include views/progress
    h3(ng-bind-html='activeStep.question.questionSafe')
    form.center
      input.slider(pj-slider, step='activeStep', on-slider-value-updated='onQuestionSliderValueUpdated(val)', type='text')
      
    p.quiz-button
      a.btn.btn-lg.btn-prejuice(ng-click='nextStep()') Fortsätt

  div.question-outro(ng-switch-when='questionOutro')
    include views/progress
    .row
      .col-xs-12
        h1.quiz-title.done(ng-bind-html='activeStep.question.categorySafe')
    .row.quiz-answer(ng-repeat='stat in partialStats')
      .col-xs-12
        h5.quiz-answer-title {{activeStep.question.subQuestions[$index].question}}       
        .slider-container
          .slider.slider-horizontal
            .slider-track
              .slider-handle.round.min-range(style='left: 0%;')
                .tooltip.bottom.in.min-range(style='top: 17px !important;')
                  .tooltip-arrow
                  .tooltip-inner
                    .span.tooltip-help-text {{activeStep.question.subQuestions[$index].minRange}}
                    | {{activeStep.question.subQuestions[$index].rangeUnit}}
              .slider-handle.round.answer(style='left: {{getDotPosition(activeStep.question.subQuestions[$index], stat.myAnswer)}};')
                .tooltip.top.in.answer(style='top: -47px !important;')
                  .tooltip-arrow
                  .tooltip-inner
                    .span.tooltip-help-text Ditt Svar
                    | {{stat.myAnswer}}
              .slider-handle.round.average(style='left: {{getDotPosition(activeStep.question.subQuestions[$index], stat.average)}};')
                .tooltip.bottom.in.average(style='top: 17px !important;')
                  .tooltip-arrow
                  .tooltip-inner
                    .span.tooltip-help-text Andras medelsvar
                    | {{roundNumber(stat.average,1)}}
              .slider-handle.round.correct(style='left: {{getDotPosition(activeStep.question.subQuestions[$index], stat.correct)}};')
                .tooltip.bottom.in.correct(style='top: 17px !important;')
                  .tooltip-arrow
                  .tooltip-inner
                    .span.tooltip-help-text Rätt Svar
                    | {{stat.correct}}
              .slider-handle.round.max-range(style='left: 100%;')
                .tooltip.bottom.in.max-range(style='top: 17px !important;')
                  .tooltip-arrow
                  .tooltip-inner
                    .span.tooltip-help-text {{activeStep.question.subQuestions[$index].maxRange}}
                    | {{activeStep.question.subQuestions[$index].rangeUnit}}

    .row
      .col-xs-12
        ul
          li.facts(ng-repeat='statement in activeStep.question.postStatements') {{statement}}
      .col-xs-12
        p.source Källa: {{activeStep.question.source}}
    
    .row
      .col-xs-12
        p.quiz-button
          a.btn.btn-lg.btn-prejuice(ng-click='nextStep()') {{getOutroNextText()}}
