div(ng-show='quizReadyToStart')
  div(ng-switch='quizState')

    .row(ng-switch-when='ready')
      .jumbotron
        h1 Prejuice!
        p.lead
          | Are you ready?
        p
          a.btn.btn-lg.btn-success(ng-click='startQuiz()') Yeah!

    .row.question(ng-switch-when='question')
      .col-md-12
        h3 {{activeQuestion.question}}
      .col-md-12
        form.center
          input.slider(pj-slider, on-slider-value-updated='onQuestionSliderValueUpdated(val)', data-slider-id='questionSlider', type='text', data-slider-min='0', data-slider-max='100', data-slider-step='1', data-slider-value='14')
      .col-md-12.center
        a.btn.btn-lg.btn-primary(ng-click='answerQuestion()') Answer {{activeAnswerValue}}
      
    .row.post-question(ng-switch-when='post-question')
      .col-md-12
        h3 {{activeQuestion.question}}
      .col-md-12.center
        a.btn.btn-lg.btn-default(ng-click='nextQuestion()') Next
      
    .row(ng-switch-when='completed')
      .jumbotron
        h1 Good Job!
        p.lead
          | Ready for the results?
        p
          a.btn.btn-lg.btn-success(ng-click='showResult()') Let me see!
