.header
  ul.nav.nav-pills.pull-right
    li.active
      a(ng-href='#') Home
    li
      a(ng-href='#') About
    li
      a(ng-href='#') Contact
  h3.text-muted prejuice ui

div(ng-show='quizReadyToStart')
  .jumbotron(ng-hide='quizStarted')
    h1 'Prejuice!
    p.lead
      | Are you ready?
    p
      a.btn.btn-lg.btn-success(ng-click='startQuiz()') Yeah!

  .row(ng-show='quizStarted')
    .question
      h3 {{activeQuestion.question}}
      p {{activeAnswerValue}} 
      input(pj-slider, on-slider-value-updated='onQuestionSliderValueUpdated(val)', data-slider-id='questionSlider', type='text', data-slider-min='0', data-slider-max='100', data-slider-step='1', data-slider-value='14')
      p
        button(ng-click='goToNextQuestion()') Next!
