div(ng-show='quizReadyToStart')
  div(ng-switch='quizState', ng-animate='slide')

    .row(ng-switch-when='ready')
      .col-md-12.card
        h1.center Hej!
        h3.center
          | Sverige är fullt av kriminella homosexuella invandrare som lönediskriminerar våra tjejer och snor våra bidrag. Eller?
        h3.center
          | Testa hur fördomsfull 
          span(style='color:#df4c3a') DU
          |  är. Svara på 12 frågor så ger vi dig din 
          span(style='color:blue') fördomsprofil
          | .
        p.center(style='margin-top:20px')
          a.btn.btn-lg.btn-success#startQuizButton(ng-click='startQuiz()') Starta testet!
          
          script(type='text/javascript').
            $('#startQuizButton').jrumble({
              speed: 50
            });
            var startRumble = function(){
              $('#startQuizButton').trigger('startRumble');
              setTimeout(stopRumble, 700);
            };
            var stopRumble = function(){
              $('#startQuizButton').trigger('stopRumble');
              setTimeout(startRumble, 5000);
            };
            
            setTimeout(startRumble, 8000);
        
    .row(ng-switch-when='running')
      .col-md-12
        p {{activeStepIndex}}
        .slide-animate-container(ng-switch='activeStepIndex')
          .slide-animate(ng-switch-when='0')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='1')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='2')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='3')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='4')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='5')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='6')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='7')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='8')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='9')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='10')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='11')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='12')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='13')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='14')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='15')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='16')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='17')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='18')
            div(ng-include="'slide-template.html'")
          .slide-animate(ng-switch-when='19')
            div(ng-include="'slide-template.html'")
        
    .row(ng-switch-when='completed')
      .jumbotron
        h1 Good Job!
        p.lead
          | Ready for the results?
        p
          a.btn.btn-lg.btn-success(ng-click='showResult()') Let me see!
