.jumbotron
  h1 Result
  h6 Score: {{score}}

div
  ul(ng-repeat='(id, answer) in answers')
    li {{id}} - {{answer}}
  p
    canvas(chart, type='Pie', options='options', data='chart', width='300', height='300')