.result
  div
    .col-xs-12
      h1.white Din fördomsprofil
  div
    .col-xs-12.card(style='position:relative; height:250px;')
      .col-xs-3.chart-overlay(style='height:198px')
        p.center Invandring
      .col-xs-3.chart-overlay(style='height:198px')
        p.center Bidragsfusk
      .col-xs-3.chart-overlay(style='height:198px')
        p.center Jämställdhet
      .col-xs-3.chart-overlay(style='height:198px')
        p.center Klyftor
      .col-xs-12(style='width:100%; position:absolute; top:0px; left:0px;')
        canvas(pj-chart, data='chart', height='200px', style='margin-top:40px;')
      .col-xs-12#details
        h3 hej
      //script(type='text/javascript').
      //  $('#details').collapse();
    
  div
    .col-xs-12.card.prejudice-factor
      h2 Din fördomsfaktor är
      p
        | 62
        span %
      h3 Du är fördomsfull som
      i.fa.fa-arrow-down(style='font-size:80px;')
      
    .col-xs-12.card-empty
      .prejudice-scale-container
        .prejudice-scale-row.col-xs-12(ng-repeat='i in [1,2,3,4,5,6,7,8,9,10]', ng-class='getRowClass(i)', ng-click='selectLeaderRow(i)')
          span.badge {{i}}
          div(ng-show='i == selectedLeaderRow')
            //selected row
            .col-xs-3.leader-img
              img(src='{{getLeader(i).img}}')
            .col-xs-9.leader-data
              h4
                | {{getLeader(i).name}}
              span.leader-percentage {{getLeaderPercentage(i)}}
              h6
                i.fa.fa-star 
                |  {{getLeader(i).birth}}
              h6 {{getLeader(i).title}}
            .col-xs-12.quote
              blockquote "{{getLeader(i).quote}}"
              p.leader-source
                | - {{getLeader(i).source}}
                br
                a
                  | Läs mer här
                  i.fa.fa-caret-right(style='padding-left:4px;')
          div(ng-show='i != selectedLeaderRow')
            .col-xs-3.leader-img
              img.leader(src='{{getLeader(i).img}}')
            .col-xs-8.leader-data(style='position:relative;')
              h4
                | {{getLeader(i).name}}
              span.leader-percentage {{getLeaderPercentage(i)}}
              h6
                i.fa.fa-star 
                |  {{getLeader(i).birth}}
              h6 {{getLeader(i).title}}
    
  div(ng-controller='shareCtrl')
    .col-xs-12.card
      .col-xs-6
        h3 Dela med dina vänner
      .col-xs-2
        h3
          i.fa.fa-facebook(ng-click='getLoginStatus()')
      .col-xs-2
        h3
          i.fa.fa-twitter
      .col-xs-2
        h3
          i.fa.fa-link
    .col-xs-12.card
      p logged in: {{loggedIn}}
      p name: {{user.name}}
      p gender: {{user.gender}}

  div
    .col-xs-12.card
      .col-xs-6
        h4 Så räknar vi
        ul(style='list-style-type: none;')
          li Mauris posuere lacus a tortor porta mollis. Quisque ac diam sapien.
          li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius vel lorem eu imperdiet. Etiam egestas tortor lacus, sed fermentum orci volutpat ut.
          li Fusce vulputate consequat imperdiet. Nullam semper sapien ut dictum bibendum.
      .col-xs-6
        h4 Källor
        ul
          li Statistiska centralbyrån
          li SVT Pejl
